@using MobilePhotographyCommunity.Common
@model MobilePhotographyCommunity.Data.ViewModel.PostCategoryViewModel
@{
    ViewBag.Title = "Chủ đề: " + Model.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="col-sm-3 col-left">
            @Html.Action("ChallengePartial", "Challenge")

            @Html.Action("CategoryPartial", "Category")
        </div>
        <div class="col-sm-6 col-center">
            <div class="add-post-box bg-white">

                <div class="title-box">Tạo bài viết</div>
                <div class="mr-t-20">
                    <a class="col-xs-2 mr-l-30" href="/Account/UserProfile/@Session[UserSession.UserId]"><img class="user-avt" src="~/UploadImage/Avatar/@Session[UserSession.Avatar]" alt=""></a>
                    <input type="hidden" id="postId" value="0" />
                    <div class="col-xs-10"><textarea class="post-caption-input form-control" name="" id="post-caption-input" style="resize:none" placeholder="Bạn đang nghĩ gì?"></textarea></div>
                </div>
                <div class="category">
                    <input type="hidden" value="@Model.CategoryId" id="categoryId" />
                </div>
                <div class="upload-image">
                    <label for="icon-input">
                        <i class="fas fa-image fa-lg" style="color: #5cb85c;"></i>
                        Ảnh/Video
                    </label>
                    <input id="icon-input" type="file" name="file"
                           accept=".jpg, .png, *.jpeg" onchange="addImage(this)" />
                    <label for="">
                        <i class="fas fa-laugh fa-lg" style="color: #EC971F;"></i>
                        Cảm xúc/Hoạt động
                    </label>
                    <label for="">
                        <i class="fas fa-video fa-lg" style="color: #C9302C;"></i>
                        Video trực tiếp
                    </label>
                </div>
                <div class="region-img-preview" style="display: none;">
                    <img id="img-preview" src="" alt="" width="100%">
                    <div class="middle">
                        <a href="javascript:deleteImgPreview();" style="color: black;">
                            <i class="fal fa-trash-alt fa-lg"></i>
                        </a>
                    </div>
                </div>
                <button class="btn btn-primary btn-up"><i class="fal fa-check"></i> Đăng</button>
                <div class="err-msg" style="color:red; text-align:center"></div>
            </div>
            <div class="post-box">
                @if (Model.Posts.Count() == 0)
                {
                    <div style="text-align: center">Chúng tôi không thể tìm thấy bài đăng nào gần đây</div>
                }
                @foreach (var item in Model.Posts)
                {
                    <div class="post bg-white" id="@item.PostId">
                        <div class="auth">
                            <a href="/Account/UserProfile/@item.CreatedBy">
                                <img class="user-avt" src="~/UploadImage/Avatar/@item.User.Avatar" alt="">
                                <h3 class="auth-name" style="display: inline;">@item.User.FirstName @item.User.LastName</h3>
                            </a>
                            <div class="created-date">@Convert.ToDateTime(item.CreatedTime).ToString("dd/MM/yyyy")</div>

                            <div class="dropdown post-option" style="float: right;">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    <i class="fal fa-ellipsis-h fa-2x"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    @if (Convert.ToInt32(Session[UserSession.UserId]) == item.CreatedBy)
                                    {
                                        <li><a href="#" class="btn-edit-post" data-id="@item.PostId">Chỉnh sửa bài viết</a></li>
                                        <li><a href="#" class="btn-delete-post" data-id="@item.PostId">Xóa khỏi dòng thời gian</a></li>
                                    }
                                    <li><a href="#">Tắt thông báo bài viết</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Ẩn bài viết</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="post-caption">@item.Caption</div>
                            <div class="post-img"><img class="photo" src="~/UploadImage/Photo/@item.Image" alt="" data-id="@item.PostId" width="100%"></div>
                        </div>
                        <div id="count-liked-commented-@item.PostId" data-id="@item.PostId" style="margin-top: 10px">
                            @{
                                var listLike = item.Likes.Where(x => x.PostId == item.PostId);
                                var listComment = item.Comments.Where(x => x.PostId == item.PostId);
                                var likeCount = listLike.Count();
                                var commentCount = listComment.Count();
                                if (listLike.Count() > 0)
                                {
                                    <div class="dropup">
                                        <a href="#" style="float:left" data-toggle="dropdown" data-id="@item.PostId" id="like-count-@item.PostId">@likeCount Thích</a>
                                        <ul class="dropdown-menu" id="dropdown-liked-@item.PostId" data-id="@item.PostId">
                                            @foreach (var i in listLike)
                                            {
                                                <li>
                                                    <a href="/Account/UserProfile/@i.User.UserId">
                                                        <img class="user-avt mr-3" src="~/UploadImage/Avatar/@i.User.Avatar" alt=""
                                                             style=" width:40px; height:40px">
                                                        <span class="fullname" style="display: inline;">@i.User.FirstName @i.User.LastName</span>
                                                    </a>
                                                </li>
                                            }
                                            @*<li>
                                                    <a href="">
                                                        <img class="user-avt" src="~/Assets/client/img/user/tonngokhong.jpg" alt=""
                                                             style=" width:40px; height:40px">
                                                        <span class="fullname" style="display: inline;">Tôn Ngộ Không</span>
                                                    </a>
                                                </li>*@
                                        </ul>
                                    </div>
                                }
                                if (commentCount > 0)
                                {
                                    <a href="#" class="commentCount" data-id="@item.PostId" style="float:right"> @commentCount Bình luận</a>
                                }
                            }

                        </div>
                        <div class="post-action" style="clear:both">
                            <div class="row" style="text-align: center;">
                                <div class="col-xs-4">
                                    @if (item.Likes.Where(x => x.PostId == item.PostId && x.User.UserId == Convert.ToInt32(Session[UserSession.UserId])).Count() > 0)
                                    {
                                        <a class="btn btn-like" data-id="@item.PostId" style="color: #337ab7">
                                            <i class="fal fa-thumbs-up"></i> Thích
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-like" data-id="@item.PostId">
                                            <i class="fal fa-thumbs-up"></i> Thích
                                        </a>
                                    }
                                </div>
                                <div class="col-xs-4">
                                    <a class="btn btn-comment">
                                        <i class="fal fa-comment-alt"></i> Bình
                                        luận
                                    </a>
                                </div>
                                <div class="col-xs-4">
                                    <a class="btn btn-share">
                                        <i class="fal fa-share-square"></i> Chia
                                        sẻ
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-box">
                            <div class="my-comment d-flex">
                                <div class="f-grow-1" style="flex-grow: 1; padding-left: 5px">
                                    <a href="/Account/UserProfile/@Session[UserSession.UserId]">
                                        <img class="user-avt" src="~/UploadImage/Avatar/@Session[UserSession.Avatar]" alt="">
                                    </a>
                                </div>
                                <div class="f-grow-15" style="flex-grow: 15;">

                                    <div class="form-group rg-comment" style="position: relative">
                                        <input type="text" name="" id="" placeholder="Viết bình luận..."
                                               class="comment-content-inp form-control" data-id="@item.PostId">
                                        <a class="btn btn-primary btn-send-comment" data-id="@item.PostId" data-commentId="0" style="position: absolute; top: 0; right: 0;">Đăng</a>
                                    </div>
                                </div>
                            </div>
                            <div class="all-comment" data-id="@item.PostId">
                                @foreach (var i in listComment)
                                {
                                    <div class="other-comment" data-id="@i.CommentId">
                                        <div class="detail-comment">
                                            <div class="commentedby">
                                                <a href="/Account/UserProfile/@i.User.UserId">
                                                    <img class="user-avt" src="~/UploadImage/Avatar/@i.User.Avatar" alt="">
                                                </a>
                                            </div>
                                            <div class="comment-content">
                                                <a href="/Account/UserProfile/@i.User.UserId">
                                                    <h4 class="name">@i.User.FirstName @i.User.LastName</h4>
                                                </a>
                                                <span data-id="@i.CommentId">
                                                    @i.Content
                                                </span>
                                            </div>

                                        </div>
                                        <div class="action-comment">
                                            <span>Thích</span>
                                            <span>&nbsp;·&nbsp;Trả lời</span>
                                            <span>&nbsp;·&nbsp;@Convert.ToDateTime(i.CreatedTime).ToString("dd/MM/yyyy")</span>
                                        </div>
                                        @if (Convert.ToInt32(Session[UserSession.UserId]) == i.User.UserId)
                                        {
                                            <div class="comment-option">
                                                <div class="dropdown post-option" style="float: right;">
                                                    <a class="dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fal fa-ellipsis-v fa-2x"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="javascript:void(0)" class="btn-edit-comment" data-id="@i.CommentId"><i class="fal fa-edit"></i> Chỉnh sửa</a></li>
                                                        <li><a href="javascript:void(0)" class="btn-delete-comment" data-id="@i.CommentId"><i class="fal fa-trash-alt"></i> Xóa</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                }
                            </div>
                            @if (commentCount == 0)
                            {

                            }
                            else
                            {
                                <a href="#">Xem thêm bình luận</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-3 col-right">
            @Html.Partial("~/Views/Friend/_HintFriendPartial.cshtml")
            @Html.Partial("~/Views/Friend/_ListFriendPartial.cshtml")
        </div>
    </div>
</section>

@Html.Partial("~/Views/Shared/_MikesModal.cshtml")

@section Scripts {
    <script src="~/Assets/client/js/main.js"></script>
    <script src="~/Assets/client/js/mikes-modal.min.js"></script>
    <script src="~/Scripts/controller/categoryController.js"></script>
    <script src="~/Scripts/controller/common.js"></script>
    <script>
        function deleteImgPreview() {
            $("#img-preview").attr("src", "");
            $(".region-img-preview").css("display", "none");
        }
    </script>
}

