@model MobilePhotographyCommunity.Data.ViewModel.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Assets/client/fonts/fontawesome-pro-5.11.2-web/css/all.min.css">
    <title>Đổi mật khẩu</title>
    <link rel="icon" href="~/Assets/client/img/page/icon-camera.jpg" type="image/gif">
    <link rel="stylesheet" href="~/Assets/client/css/style.css">
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>
</head>



<body>
    <div class="container">
        <div class="forgot-password-container">
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-md-4 form-center">
                    <div style="text-align:center; margin-bottom: 20px">
                        <h3>Đổi mật khẩu</h3>
                    </div>
                    <form action="/Account/ResetPassword" method="POST">
                        @if (ViewBag.ResetPwSuccess != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert" style="margin-top: 20px;">
                                <i class="fas fa-check"></i> <span id="msg">@ViewBag.ResetPwSuccess</span>
                            </div>
                        }
                        <div class="form-group">
                            <label>Mật khẩu hiện tại:</label>
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới:</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label>Xác nhận mật khẩu:</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="btn-center">
                            <button type="submit" class="btn btn-primary btn-send-code">Cập nhật</button>
                        </div>
                    </form>
                    <a href="/Home/Index" style="display: block; margin-top: 20px">&#10094; Quay lại</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
