@using MobilePhotographyCommunity.Common
@using MobilePhotographyCommunity.Data.DomainModel
@model MobilePhotographyCommunity.Data.ViewModel.UserProfileVm
@{
    ViewBag.Title = Model.Users.FirstName + " " + Model.Users.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="profile">
    <div class="container">
        <div class="row user">
            <div class="col-xs-4 avt-box">
                <div class="bg-white center">
                    <img src="~/UploadImage/Avatar/@Model.Users.Avatar" alt="" id="avatar">
                </div>
            </div>
            <div class="col-xs-8 detail-info">
                <div class="user-info">
                    <div class="user-name">
                        <span>@Model.Users.FirstName @Model.Users.LastName</span>
                        @if (ViewBag.IsAdmin)
                        {
                            <span class="is-admin"><i class="fal fa-check-circle"></i></span>
                        }

                    </div>
                    <div class="status-friend">
                        @*<a href="#" class="btn btn-primary"><i class="fal fa-user-plus"></i> Kết bạn</a>*@
                        @*<a href="#" class="btn btn-info">
                                <i class="fal fa-sign-out-alt"></i> Đã gửi lời mời kết
                                bạn
                            </a>
                            <a href="#" class="btn btn-default"><i class="fal fa-check"></i> Bạn bè</a>
                            <a href="#" class="btn btn-primary"><i class="fal fa-signal"></i> Theo dõi</a>
                            <a href="#" class="btn btn-default"><i class="fal fa-check"></i> Đang theo dõi</a>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Ngày sinh: @Convert.ToDateTime(Model.Users.DateOfBirth).ToString("dd/MM/yyyy")</h4>
                        </div>
                        <div class="col-sm-4">
                            <h4>Số điện thoại: @Model.Users.PhoneNumber</h4>
                        </div>
                        <div class="col-sm-4">
                            @if (Model.Users.Gender == true)
                            {
                                <h4>Giới tính: Nam</h4>
                            }
                            else
                            {
                                <h4>Giới tính: Nữ</h4>
                            }
                        </div>
                    </div>
                </div>
                <div class="other-info">
                    <ul>
                        <a href="">
                            <li><span><strong>299</strong></span> bài viết</li>
                        </a>
                        <a href="">
                            <li><span><strong>145</strong></span> bạn bè</li>
                        </a>
                        <a href="">
                            <li>Đang theo dõi <span><strong>987</strong></span> người dùng</li>
                        </a>
                    </ul>
                </div>
                <div class="update-profile">
                    @if (Model.Users.UserId == Convert.ToInt32(Session[UserSession.UserId]))
                    {
                        <a href="#" style="color: black;" data-toggle="modal" data-target="#modal-update-user-profile" title="Cập nhật trang cá nhân"><i class="fal fa-edit fa-lg"></i></a>

                        <!-- Modal -->
                        <div class="modal fade" id="modal-update-user-profile" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Cập nhật trang cá nhân</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/Account/UpdateProfile" method="post" id="frm-userProfile" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <input type="hidden" name="UserId" value="@Session[UserSession.UserId]" />
                                            </div>
                                            <div class="row text-center">
                                                <div class="avt-box">
                                                    <div class="bg-white center">
                                                        <img src="~/UploadImage/Avatar/@Model.Users.Avatar" alt="" id="avatarUpdate">
                                                    </div>
                                                    <div>
                                                        <div class="upload-avatar" title="Tải ảnh lên">
                                                            <label for="icon-input">
                                                                <i class="fas fa-camera fa-lg"></i>
                                                            </label>
                                                            <input id="icon-input" type="file" name="file" accept=".jpg, .png, *.jpeg"
                                                                   onchange="uploadAvatar(this)" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label for="">Họ:</label>
                                                    <input type="text" name="FirstName" id="firstName" value="@Model.Users.FirstName" class="form-control">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label for="">Tên:</label>
                                                    <input type="text" name="LastName" id="lastName" value="@Model.Users.LastName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 form-group">
                                                    <label for="">Ngày sinh:</label>
                                                    <input type="date" name="DateOfBirth" id="dateOfBirth" value="@string.Format("{0:yyyy-MM-dd}", Model.Users.DateOfBirth)" class="form-control">
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <label for="">Số điện thoại:</label>
                                                    <input type="text" name="PhoneNumber" id="phoneNumber" value="@Model.Users.PhoneNumber" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Giới tính:</label>
                                                @if (Model.Users.Gender == true)
                                                {
                                                    <label for="rdMale" style="padding: 0px 10px">
                                                        <input type="radio" name="Gender" id="rdMale" value="True" checked="checked"> Nam
                                                    </label>
                                                    <label for="rdFemale">
                                                        <input type="radio" name="Gender" value="False" id="rdFemale"> Nữ
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label for="rdMale" style="padding: 0px 10px">
                                                        <input type="radio" name="Gender" value="True" id="rdMale"> Nam
                                                    </label>
                                                    <label for="rdFemale">
                                                        <input type="radio" name="Gender" value="False" id="rdFemale" checked="checked"> Nữ
                                                    </label>
                                                }
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-success" id="btn-updateProfile">Lưu</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="photo-gallery">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#grid-photo-user">Ảnh của @Model.Users.FirstName @Model.Users.LastName</a></li>
                <li><a data-toggle="tab" href="#photo-challenge">Ảnh thử thách</a></li>
                <li><a data-toggle="tab" href="#album">Allbum</a></li>
            </ul>

            <div class="tab-content">
                <div id="grid-photo-user" class="tab-pane fade in active">

                    @for (int i = 0; i <= Model.Posts.Count() / 2; i++)
                    {
                        <div class="d-flex" style="justify-content: flex-start; padding: 0 90px">
                            @foreach (var item in Model.Posts.Skip(i * 3).Take(3))
                            {
                                <div class="">
                                    <div class="photo-box">
                                        <a href="#">
                                            <img class="photo-user photo" src="~/UploadImage/Photo/@item.Image" data-id="@item.PostId" alt="">
                                            @*<div class="middle">
                                                    <span><i class="fal fa-thumbs-up"></i> 455</span>
                                                    <span><i class="fal fa-comment-alt"></i> 50</span>
                                                </div>*@
                                        </a>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                </div>
                <div id="photo-challenge" class="tab-pane fade">


                </div>
                <div id="album" class="tab-pane fade">
                    <div class="d-flex" style="justify-content: flex-start; padding: 0 90px">
                        <div class="">
                            <div class="photo-box">
                                <a href="javascript:void(0)"><i class="fal fa-plus"></i> Tạo album</a>
                            </div>
                        </div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- The Modal -->
@Html.Partial("~/Views/Shared/_MikesModal.cshtml")

@section Scripts {
    <script src="~/Assets/client/js/main.js"></script>
    <script src="~/Assets/client/js/mikes-modal.min.js"></script>
    <script src="~/Scripts/controller/updateProfile.js"></script>
}
