@using MobilePhotographyCommunity.Data.ViewModel
@model IEnumerable<UserVm>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content px-4">
    <h1 class="title-content">Người dùng</h1>

    @if (ViewBag.Message != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert" style="margin-top: 20px;">
            <i class="fas fa-check"></i> @ViewBag.Message
        </div>
    }
    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="search-box float-right">
                <form action="/Admin/User/Search" method="get">
                    <div class="input-group mb-3">
                        <input type="text" name="str" class="form-control" value="@ViewBag.SearchString" placeholder="Nhập họ tên">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="list-category">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="190px">Họ tên</th>
                    <th width="190px">Tên đăng nhập</th>
                    <th width="190px">Giới tính</th>
                    <th width="200px">Ngày sinh</th>
                    <th width="90px"><input type="checkbox" name="" id=""> Chọn</th>
                    <th width="180px">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/UploadImage/Avatar/@item.Avatar" alt=""
                                 style="width: 40px; height: 40px; border-radius: 50%;">
                            <span>@item.FirstName @item.LastName</span>
                        </td>
                        <td>@item.UserName</td>
                        @if (item.Gender == true)
                        {
                            <td>Nam</td>
                        }
                        else
                        {
                            <td>Nữ</td>
                        }
                        <td>@Convert.ToDateTime(item.DateOfBirth).ToString("dd/MM/yyyy")</td>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>
                            <a href="~/Account/UserProfile/@item.UserId" class="btn btn-info" target="_blank" title="Chi tiết"><i class="fal fa-info"></i></a>
                            <a data-toggle="modal" data-target="#delete-@item.UserId" class="btn btn-danger" title="Xóa"><i class="fal fa-trash-alt"></i></a>
                            <a data-toggle="modal" data-target="#assign-@item.UserId-@item.FirstName.Replace(" ", "")@item.LastName.Replace(" ", "")" class="btn btn-success" title="Gán quyền quản trị"><i class="fal fa-user-shield"></i></a>
                        </td>
                    </tr>
                    <!-- The Modal -->
                    <div class="modal fade" id="assign-@item.UserId-@item.FirstName.Replace(" ", "")@item.LastName.Replace(" ", "")">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Xác nhận</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Gán @item.FirstName @item.LastName làm quản trị viên?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a href="/Admin/User/AssignRole/@item.UserId" class="btn btn-success">Đồng ý</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div class="modal fade" id="delete-@item.UserId">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Xác nhận</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Xóa người dùng này?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <a href="/Admin/User/Delete/@item.UserId" class="btn btn-success">Đồng ý</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
                                </div>

                            </div>
                        </div>
                    </div>
                }


            </tbody>
        </table>
    </div>
    @if (ViewBag.PageNum % 2 == 0)
    {
        <ul class="pagination">
            @for (int i = 0; i < ViewBag.PageNum / 5; i++)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "/User", new { pageIndex = i, pageSize = 5 })">@(i + 1)</a></li>
            }
        </ul>
    }
    else
    {
        <ul class="pagination">
            @for (int i = 0; i < (ViewBag.PageNum / 5) + 1; i++)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "/User", new { pageIndex = i, pageSize = 5 })">@(i + 1)</a></li>
            }
        </ul>
    }

</div>

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}


